@import "./sass/variables";
@import "./sass/mixins";

.container {
  min-height: 100vh;
  max-width: 80%;
  margin: 0 auto;
  padding: 50px 10px;
  @include setupFlex(center, space-between);
  flex-wrap: wrap;
  color: $textColor;

  @media screen and (max-width: 900px) {
   max-width: 100%;
  }
}


