@import "./sass/variables";
@import "./sass/mixins";

.container {
  height: 100%;
  width: 80%;
  border: 1px solid;
  margin: 0 auto;
  @include setupFlex(center, space-between);
  flex-wrap: wrap;
  color: $textColor;
  @media screen and (max-width: 749px) {
    justify-content: center;
  }
}


