@import "./sass/variables";
@import "./sass/mixins";

.container {
  height: 100vh;
  max-width: 80%;
  margin: 0 auto;
  padding: 0 10px;
  @include setupFlex(center, space-between);
  flex-wrap: wrap;
  color: $textColor;
  @media screen and (max-width: 749px) {
    justify-content: center;
  }
}


