@import "../../styles/sass/variables";

.titleBlock {
  display: flex;
  align-items: center;
  width: 100%;
  font-family: 'Oswald', sans-serif;
  font-weight: 400;
  font-size: 45px;

  p {
    position: relative;

    &::after {
      content: "";
      position: absolute;
      width: 70px;
      height: 5px;
      background-color: $accentColor;
      left: 0;
      bottom: -20px;
    }
  }

  .title {
    color: $textColor;
    text-transform: uppercase;
    position: absolute;
    margin: 0;
    opacity: 0.1;
    letter-spacing: 10px;

  }
}

