@import "../../common/styles/sass/variables";
@import "../../common/styles/sass/mixins";

.myWorkBlock {
  width: 450px;
  display: flex;
  flex-direction: column;
  margin: 0 10px;
  border-radius: 7px 7px 0 0;
  box-shadow: -17px -11px 28px 0px rgba(0, 0, 0, 0.31);

  @media screen and (max-width: 1175px) {
    margin: 10px 10px;
  }

  .image {
    height: 300px;
    @include setupFlex(center, center);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    border-radius: 7px 7px 0 0;
    transition: .5s ease-in-out;

    &:hover {
      filter: brightness(60%);
    }
  }

  .myWorkInfo {
    padding: 25px 20px;
    background: $firstBgColor;
    border-radius: 0 0 7px 7px;

    h3 {
      margin: 0 0 20px;
    }
  }
}











