@import "../common/styles/sass/variables";
@import "../common/styles/sass/mixins";

.myWorksBlock {
  background-color: $secondBgColor;
  padding: 100px 0;

  .skillsContainer {
    justify-content: flex-start;

    .myWorks {
      width: 100%;
      @include setupFlex(start, space-between);
      flex-wrap: wrap;
      margin-top: 50px;

      @media screen and (max-width: 624px) {
        justify-content: center
      }
    }
  }
}









