@import "../common/styles/sass/variables";
@import "../common/styles/sass/mixins";

.myWorksBlock {
  padding: 100px 0;
  height: 100vh;

  .myWorksContainer {
    div {
      @media screen and (max-width: 1175px) {
        justify-content: center;
      }
    }
  }

  .myWorks {
    width: 100%;
    @include setupFlex(start, space-between);
    flex-wrap: wrap;
    margin-top: 50px;

    @media screen and (max-width: 1175px) {
      justify-content: center;
    }
    @media screen and (max-width: 624px) {
      justify-content: center
    }

  }
}










