.skillsBlock {
    background-color: #434242;
}

.skillsContainer {
    justify-content: flex-start;
}

.skills {
    margin-top: 50px;
    border: 1px solid;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

@media screen and (max-width: 936px) {
    .skills {
        justify-content: center;
    }
}