@import "../common/styles/sass/variables";
@import "../common/styles/sass/mixins";

.skillsBlock {
  padding: 100px 0;
  height: 100vh;

  .skillsContainer {
    div {
      @media screen and (max-width: 1100px) {
        justify-content: center;
      }
    }

    .skills {
      margin-top: 50px;
      width: 100%;
      @include setupFlex(start, space-between);
      flex-wrap: wrap;
      @media screen and (max-width: 1100px) {
        justify-content: center;
      }
    }
  }
}





