@import "../common/styles/sass/variables";
@import "../common/styles/sass/mixins";

.skillsBlock {

  min-height: 100vh;

  .skillsContainer {
    div {
      @media screen and (max-width: 1200px) {
        justify-content: center;
      }
    }

    .skills {
      width: 100%;
      @include setupFlex(start, space-between);
      flex-wrap: wrap;

      @media screen and (max-width: 1300px) {
        margin-top: 100px;
      }

      @media screen and (max-width: 1200px) {
        justify-content: space-evenly;
      }

      @media screen and (max-width: 600px) {
        margin-top: 0;
      }
    }
  }
}





