@import "../common/styles/sass/variables";

.mainBlock {
  min-height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  z-index: 1;

  div {
    @media screen and (max-width: 1200px) {
      flex-direction: column-reverse;
    }
  }

  &::before {
    position: absolute;
    content: '';
    background-color: #111418;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0.6;
    z-index: -1;
  }

  .text {
    font-family: 'Oswald', sans-serif;
    font-weight: 600;
    font-size: 50px;
    display: flex;
    flex-direction: column;
    color: rgb(255, 255, 255);

    @media screen and (max-width: 1200px) {
      width: 100%;
      align-items: center;
    }

    @media screen and (max-width: 400px) {
      font-size: 40px;
    }

    p {
      font-weight: 400;

      @media screen and (max-width: 1300px) {
        font-weight: 300;
      }

    }

    .typingText {
      letter-spacing: 10px;

      @media screen and (max-width: 1300px) {
        font-weight: 400;
        letter-spacing: 3px;
      }

      @media screen and (max-width: 460px) {
        font-weight: 300;
        letter-spacing: 1px;
      }
    }

    .downloadBtn {
      margin-top: 2rem;
      font-weight: 500;
      font-size: 1.5rem;

      @media screen and (max-width: 400px) {
        font-size: 1rem;
      }

      a {
        color: $accentColor;
        border: $accentColor solid 2px;
        border-radius: 50rem;
        padding: 0.8rem 2.6rem;
        transition: all 0.5s ease;

        &:hover {
          background-color: $accentColor;
          color: rgb(255, 255, 255);
        }

        &:focus {
          background-color: #0d6efd;
          border-color: #0d6efd;
          color: rgb(255, 255, 255);
        }
      }
    }

  }

  .photo {
    position: relative;

    div {
      width: 400px;
      height: 500px;

      @media screen and (max-width: 1300px) {
        width: 320px;
        height: 400px;
      }
      @media screen and (max-width: 1200px) {
        width: 300px;
        height: 300px;
        margin-top: 25px;
      }
      @media screen and (max-width: 600px) {
        width: 200px;
        height: 200px;
        margin-top: 50px;
      }
    }

    &::before, &::after {
      @media screen and (max-width: 1200px) {
        display: none;
      }
    }

    &::after {
      content: '';
      position: absolute;
      height: 80px;
      width: 80px;
      border-bottom: 10px solid $accentColor;
      border-right: 10px solid $accentColor;
      border-bottom-right-radius: 10px;
      right: -30px;
      bottom: -40px;
    }

    &::before {
      content: '';
      position: absolute;
      height: 80px;
      width: 80px;
      border-top: 10px solid $accentColor;
      border-top-left-radius: 10px;
      border-left: 10px solid $accentColor;
      left: -30px;
      top: -40px;
    }

    img {
      margin: auto;
      width: 100%;
      height: 100%;
      border-radius: 5px;

      @media screen and (max-width: 1200px) {
        border-radius: 50%;
        border: 15px solid $firstBgColor;
        box-shadow: 5px 7px 25px rgb(0 0 0 / 50%);
      }
      @media screen and (max-width: 600px) {
        border: 10px solid $firstBgColor;
      }
    }
  }
}


