.mainBlock {
    height: 100vh;
    background-size: contain;
}

.text {
    width: 300px;
    color: white;
    background-color: darkblue;
}

.photo {
    width: 300px;
    height: 400px;
    background-color: darkblue;
}

