@import "../common/styles/sass/variables";

.footer {

  .container {

    background-color: $firstBgColor;
  }

  .footerText {
    text-align: center;
    color: $textColor;
    height: 100%;
    padding: 20px 0;
  }
}